{% extends "../layout.njk" %}

{% block content %}

    <form class="details-card" method="post" action="/admin/chefs">
        <div class="flex-row" style="justify-content: space-between;">
            <h3>Cadastrando chef</h3>
            
            <div>
                <button class="button" type="submit">Salvar chef</button>
            </div>
        </div>

        {% include './fields.njk' %}
    </form>

{% endblock %}