{% extends "../layout.njk" %}

{% block content %}

    <form class="details-card" method="post" action="/admin/chefs/{{ chef.id }}?_method=put" enctype="multipart/form-data">
        <div class="flex-row" style="justify-content: space-between;">
            <h3>Editando chef: {{ chef.name }}</h3>
            
            <div>
                <button class="button" id="deletar" onclick="this.form.action='/admin/chefs/{{ chef.id }}?_method=delete';">Deletar</button>
                <button class="button" type="submit">Salvar chef</button>
            </div>
        </div>

        {% include './fields.njk' %}
    </form>

{% endblock %}