<div class="form-field-area">
    <h4>Nome do chef</h4>

    <input type="text" name="name" value="{{ chef.name }}">
</div>

<div class="form-field-area">
    <h4>Avatar</h4>

    <input type="text" name="avatar_url" value="{{ chef.avatar_url }}">
</div>