<div class="form-field-area">
    <h4>Nome do chef</h4>

    <input type="text" name="name" value="{{ chef.name }}">
</div>

<div class="form-field-area">
    <h4>Avatar</h4>

    <div id="input-avatar">
        <input type="file" id="avatar" name="avatar"class="button" accept="image/*" >
        <p class="button">Enviar Avatar</p>
    </div>
</div>