{% extends "../layout.njk" %}

{% block content %}

    <div class="hero full-w">
        <form class="recipes flex-column" method="post" action="/admin/recipes">
            <input type="text" name="title" value="{{ recipe.title }}" placeholder="Nome da receita">
            <input type="text" name="author" value="{{ recipe.author }}" placeholder="Nome do autor">
            <input type="text" name="image" value="{{ recipe.image }}" placeholder="URL da imagem">

            <button type="submit">Salvar</button>
        </form>
    </div>

{% endblock %}