{% extends "../layout.njk" %}

{% block content %}

    <div class="card details-card">
        <div class="flex-row" style="justify-content: space-between;">
            <h3>Receita: {{ recipe.title }}</h3>
            
            <a href="/admin/recipes/{{ recipe.id }}/edit" class="button">Editar</a>
        </div>

        <img src="{{ recipe.image }}" alt="recipe">

        <div class="details-title">
            <h2>{{ recipe.title }}</h2>
            <p>por {{ recipe.author }}</p>
        </div>

        <section>
            <h3>Ingredientes</h3>

            {% for ingredient in recipe.ingredients %}
                <p>-  {{ ingredient }};</p>
            {% endfor %}
        </section>

        <section>
            <h3>Modo de preparo</h3>

            {% for step in recipe.steps %}
                <p>-  {{ step }};</p>
            {% endfor %}
        </section>

        <section>
            <h3>Informações adicionais</h3>

            <textarea disabled>{{ recipe.infos }}</textarea>
        </section>        
    </form>

{% endblock %}