{% extends "../layout.njk" %}

{% block content %}

    <div class="hero full-w">
        <div class="full-w flex-column">
            <div id="add-new">
                <a href="/admin/recipes/create">Nova receita<i class="fas fa-plus"></i></a>
            </div>

            <table class="global-table">
                <thead>
                    <th>Nome</th>
                    <th>Autor</th>
                    <th>Desde</th>
                    <th>Detalhes</th>
                    <th>Editar</th>
                </thead>
                <tbody>
                    {% for recipe in recipes %}
                        <tr>
                            <td>{{ recipe.title }}</td>
                            <td>{{ recipe.author }}</td>
                            <td style="text-align: center;">01/01/2021</td>
                            <td style="text-align: center;"><a href="/admin/recipes/{{ recipe.id }}"><i class="fas fa-search"></i></a></td>
                            <td style="text-align: center;"><a href="/admin/recipes/{{ recipe.id }}/edit"><i class="fas fa-edit"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}