<div class="form-side flex-row">
    <div class="form-field-area" style="width: 50%;">
        <h4>Nome</h4>

        <input type="text" name="name" value="{{ user.name }}">
    </div>

    <div class="form-field-area" style="width: 50%;">
        <h4>Email</h4>

        <input type="email" name="email" value="{{ user.email }}">
    </div>
</div>