@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

/* GENERAL */

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

body,
textarea {
    font-family: 'Roboto', sans-serif;
}


/* GLOBAL */

.full-w {
    width: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

#root {
    flex: 1 0 auto;
}

.global-table {
    width: 100%;
    height: 100%;
    vertical-align: top;
    padding: 16px;
    margin: 0 auto;
    line-height: 24px;
}

.global-table thead {
    margin-bottom: 8px;
}

.global-table td {
    padding: 8px;
    margin: 0;
}

.global-table a {
    text-transform: none;
    color: #000;
}

.global-table a i {
    color: rgb(46, 72, 219);
}

.links a.active {
    font-weight: bold;
}

.button {
    height: 40px;
    font-size: 18px;
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
}


/* HOME */

header {
    max-width: 940px;
    width: 52%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    margin-bottom: 50px;
}

header .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header a {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #111111;
}

header a~a {
    margin-left: 30px;
}

header a.home {
    font-size: 24px;
    line-height: 27px;
    margin-right: 123px;
    font-family: serif;
}


/* SEARCH */

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 64px;
}

.search input {
    height: 40px;
    font-size: 16px;
    line-height: 19px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 15px 20px;
    color: #777777;
    margin-right: 16px;
}

.search .button {
    background-color: #6558C3;
    color: white;
    width: 96px;
}


/* SITE */

.wrapper {
    width: 52%;
    max-width: 940px;
    margin: 0 auto;
}

.hero {
    background-color: #fbdfdb;
    border-radius: 30px;
    padding: 0 100px 0 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    min-height: 240px;
}

.hero h2 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #111111;
}

.hero p {
    opacity: 0.7;
    font-size: 18px;
    color: #000000;
    line-height: 28px;
    max-width: 320px;
}

.hero img {
    height: 300px;
    margin-top: 66px;
}

.recipes h3 {
    font-size: 24px;
    color: #111111;
    margin-bottom: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    padding-bottom: 10px;
}

.card img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 15px;
    max-height: 140px;
    object-fit: contain;
}

.card h4 {
    font-size: 18px;
    color: #111111;
    margin-bottom: 5px;
    font-weight: 400;
}

.card p {
    font-size: 14px;
    color: #777777;
}

footer {
    background-color: #eeeeee;
    height: 62px;
    text-align: center;
    padding: 23px;
    margin-top: 40px;
}

footer p,
footer a {
    font-size: 14px;
    color: #999999;
}

footer a {
    text-decoration: none;
}


/* ABOUT */

#content-title {
    font-size: 24px;
}

.content {
    margin-bottom: 30px;
}

.content h3 {
    font-size: 20px;
    color: #111111;
    margin-bottom: 20px;
}

.content p {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}


/* MODAL */

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    width: 660px;
    padding: 30px;
    position: relative;
    text-align: center;
    border-radius: 16px;
}

.modal img {
    border-radius: 15px;
    margin-bottom: 20px;
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.modal h4 {
    font-size: 24px;
    color: #111111;
    margin-bottom: 5px;
    font-weight: 400;
}

.modal p {
    font-size: 18px;
    color: #777777;
    margin-bottom: 60px;
}

.modal .close-modal {
    font-size: 16px;
    color: #999999;
    cursor: pointer;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}


/* ADMIN */

.admin-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.admin-card {
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.admin-card img {
    width: 50%;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    max-height: 96px;
    min-width: 250px;
    object-fit: contain;
}

.admin-card h4 {
    font-size: 21px;
    color: #111111;
    margin-bottom: 5px;
    font-weight: 400;
}

.admin-card p {
    font-size: 18px;
    color: #777777;
    margin-bottom: 10px;
}


/* DETAILS */

#title {
    margin-bottom: 30px;
}

.card .details-card {
    width: 80%;
    margin: 0 auto;
}

.details-card h3 {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    color: #111111;
    margin-bottom: 24px;
}

.details-card~img {
    margin-bottom: 50px;
    max-height: 320px;
    min-width: 250px;
    object-fit: contain;
}

.details-title {
    text-align: center;
}

.details-card h2 {
    font-size: 36px;
    line-height: 42px;
    font-weight: bold;
    color: #111111;
    margin-bottom: 4px;
}

.details-card p {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 31px;
}

.details-card section {
    margin-bottom: 41px;
}

.details-card section h3 {
    margin-bottom: 19px;
}

.details-card section p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 0;
}

.hero .card p:first-child {
    margin-right: 8px;
}

p.button,
a.button,
.details-card button {
    background-color: #6558C3;
    color: white;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
}

a.link {
    margin-top: 16px;
    font-size: 14px;
    color: #6558C3;
    font-weight: bold;
    text-decoration: none;
}

.details-card button#deletar {
    background-color: #dc4747;
}

.details-card textarea {
    height: 257px;
    width: 100%;
    font-size: 18px;
    color: #777777;
    line-height: 19px;
    background: #FFFFFF;
    margin-bottom: 10px;
    resize: none;
    white-space: pre-wrap;
    outline: none;
}


/* EDIT */

.form-field-area {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.form-field-area h4 {
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    color: #111111;
    margin-bottom: 10px;
}

.input-list {
    display: flex;
    flex-direction: column;
}

.form-field-area input,
.form-field-area textarea {
    height: 47px;
    font-size: 16px;
    line-height: 19px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 15px 20px;
    color: #777777;
}

.form-field-area textarea {
    resize: none;
    height: 257px;
    font-size: 18px;
    color: #777777;
    white-space: pre-wrap;
}

button.add-new {
    background: transparent;
    color: #6558C3;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    text-align: start;
    margin-top: 15px;
    width: 100%;
}


/* PHOTOS */

#input-avatar {
    max-width: 139px;
    overflow: hidden;
    position: relative;
}

#input-avatar input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
}