{% extends "../layout.njk" %}

{% block content %}

    <form class="details-card" method="post" action="/admin/recipes/{{ recipe.id }}?_method=put">
        <div class="flex-row" style="justify-content: space-between;">
            <h3>Editando receita: {{ recipe.title }}</h3>
            
            <div>
                <button class="button" id="deletar" onclick="this.form.action='/admin/recipes/{{ recipe.id }}?_method=delete';">Deletar</button>
                <button class="button" type="submit">Salvar receita</button>
            </div>
        </div>

        {% include './fields.njk' %}
    </form>

{% endblock %}